In [ ]:
#pip install psycopg2

In [ ]:
# SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#import sys
#sys.path.append('../../')
#import config
#from config import DB_USER, DB_PASS

In [ ]:
#engine = create_engine('postgresql://localhost:5432/SQL_HW_Test')
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost:5432/employee_db')
connection = engine.connect()

In [ ]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)
salaries.head()

In [ ]:
titles = pd.read_sql("SELECT * FROM titles", conn)
titles.head()

In [ ]:
merged = pd.merge(salaries, titles, on="emp_no", how="inner")
merged.head()

In [ ]:
grouped = merged.groupby("title").mean()
grouped

In [ ]:
title_salary_df = grouped.drop(columns = "emp_no")
title_salary_df

In [ ]:
title_salary_df = title_salary_df.reset_index()
title_salary_df

In [ ]:
x_axis = title_salary_df["title"]
ticks = np.arange(len(x_axis))
y_axis = title_salary_df["salary"]
 
plt.bar(x_axis, y_axis, align="center", alpha=1.0, color=["pink", "b", "r", "orange", "y", "b", "g"])

plt.xticks(ticks, x_axis, rotation="vertical")

plt.ylabel("Salaries ($)")
plt.xlabel("Employee Title")
plt.title("Average Employee Salary by Title")

plt.savefig("../Images/avg_salary_by_title.png")

plt.show()